/* General body styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light blue background */
}


/* App container */
.App {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Title styling */
h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}


.search-bar input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 60%;
  max-width: 400px;
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* WeatherCard styling */
.weather-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 60%;
  margin: 0 auto;
}

.weather-card h2 {
  font-size: 1.8rem;
  color: #007BFF;
}

.weather-card p {
  font-size: 1.2rem;
  margin: 5px 0;
}

.weather-card img {
  width: 100px;
  height: 100px;
}

/* Toggle Button */
.toggle-button {
  margin: 10px 0;
}

.toggle-button button {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button button:hover {
  background-color: #e67339;
}

/* Forecast Card styling */
.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: 180px;
  text-align: center;
}

.forecast-card h3 {
  font-size: 1.3rem;
  color: #333;
}

.forecast-card p {
  margin: 5px 0;
  font-size: 1rem;
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 768px) {
  .weather-card, .forecast-card {
    width: 90%;
    margin: 10px auto;
  }

  .search-bar input {
    width: 80%;
  }

  .search-bar button {
    width: 15%;
    padding: 10px;
  }
}
